
DATABASE_URL=postgresql://neondb_owner:npg_1hAHfjrcPUJ8@ep-quiet-bird-ay06hm18-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
ADMIN_PASSWORD=2026
PORT=4000
# URL du front-end autorisé (CORS)
CLIENT_ORIGIN=http://localhost:5173
